<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Update</title>
  </head>

  <body>
    <form method="POST" class="post-form" action="create">
      {% csrf_token %}
      <div class="container">
        <br>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label"></label>
          <div class="col-sm-4">
            <h3>Create Student</h3>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">First Name:</label>
          <div class="col-sm-4">
            <input type="text" name="first_name" id="first_name" required maxlength="25">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Last Name:</label>
          <div class="col-sm-4">
            <input type="text" name="last_name" id="last_name" required maxlength="25">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Birthdate:</label>
          <div class="col-sm-4">
            <input type="date" name="birth_date" id="birth_date">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Contact:</label>
          <div class="col-sm-4">
            <input type="text" name="contact" id="contact" required maxlength="15">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Subject:</label>
          <div class="col-sm-4">
            <select name="subject" id="subject">
              {% for subject in subjects %}
                <option value="{{ subject.id }}">{{ subject.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Status:</label>
          <div class="col-sm-4">
            <input type="radio" name="is_active" id="is_active" value="true"> True
            <input type="radio" name="is_active" id="is_active" value="false"> False
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-1 col-form-label"></label>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-success">Create</button>
            <a href="">Back</a><br><br>
          </div>
        </div>
      </div>
    </form>
  </body>

</html>
